<p id="notice"><%= notice %></p>

<h1>Delicacies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Dimensions</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delicacies.each do |delicacy| %>
      <tr>
        <td><%= delicacy.name %></td>
        <td><%= delicacy.desc %></td>
        <td><%= delicacy.price %></td>
        <td><%= delicacy.weight %></td>
        <td><%= delicacy.dimensions %></td>
        <td><%= delicacy.image %></td>
        <td><%= link_to 'Show', delicacy %></td>
        <td><%= link_to 'Edit', edit_delicacy_path(delicacy) %></td>
        <td><%= link_to 'Destroy', delicacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delicacy', new_delicacy_path %>
