<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delicacy.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @delicacy.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @delicacy.price %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @delicacy.weight %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @delicacy.dimensions %>
</p>

<p>
  <strong>Image:</strong>
  <%= @delicacy.image %>
</p>

<%= link_to 'Edit', edit_delicacy_path(@delicacy) %> |
<%= link_to 'Back', delicacies_path %>
