<div class = "container" id = "padding-default-top">
    <div class = "col-md-12">
	<div class = "card">
	    <div class = "card-body">
		<h3 class = "card-title">
		    <%= @delicacy.name %>
		</h3>
		<h4 class = "card-subtitle text-muted mb-2">
		    <%= @delicacy.price %> PHP
		</h4>
		<p class = "card-text">
		    <%= @delicacy.desc %>
		</p>
		<p class = "card-text">
		    Weight: <%= @delicacy.weight %> 
		    Dimensions: <%= @delicacy.dimensions %>
		</p>
	    </div>
	</div>
    </div>
</div>
