<!DOCTYPE html>
<html>
  <head>
    <title>Juan Chow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-left" href="/"><%= image_tag "logo.png", size: '200x50' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-2">
          <li class="nav-item">
	    <%= link_to "Explore", cities_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
	    <%= link_to "Products", delicacies_path, class:'nav-link' %>
          </li>
        </ul>
      </div>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="Submit">Search</button>
      </form>

      <button type="button" class="btn btn-link-primary" href="#">Log In</button>
      <button type="button" class="btn btn-link-primary" href="#">Sign Up</button>

    </nav>
    <%= yield %>
  </body>
</html>
